{% extends 'base.html.twig' %}

{% block body %}

    <h2>Ajouter une marque</h2>

    {{ include("admin/brand/form.html.twig") }}

    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}

{% block stylesheets %}

{% endblock %}
