{% extends '/template/baseIntervention.html.twig' %}


    {% block titre %}
        <h1>DEVIS N° {{ command.Ref }}</h1>
    {% endblock %}

    {% block statut %}
        <div>
            <span>DATE DU DEVIS</span>{{ command.dateCreate| date('d-m-Y') }}
        </div>
        {% if command.commandeValidate is not empty %}
        <div>
            <span>REFERENCE</span>N° {{ command.ref }} accepté le : {{ command.commandeValidate| date('d-m-Y') }}
        </div>
       {% endif %}

    {% endblock %}

 {% block accord %}
     {% if command.commandeValidate is empty %}
         <div>
             <p>Si ce devis vous convient, veuillez indiquer en toutes lettres "Bon pour accord", dater et signer</p>
             <p>Mention :</p>
             <p>Date :</p>
             <p>Signature :</p>
         </div>
     {% endif %}
 {% endblock %}