{% extends 'base.html.twig' %}

{% block body %}

    <div class="container jumbotron ">


        <h1>liste des types de paiement</h1>
        <div class="row entete">

            <div class="col-sm-3 espaceBoutton"><a href="{{ url('app_admin_paymentType_add') }}" class="btn bg-primary "> Nouvelle categorie </a></div>

        </div>

        <div class="table-responsive table-bordered">
            <table class="table ">
                <thead>
                <tr>

                    <th>Nom</th>
                    <th>Action</th>


                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.name }} </td>


                        <td><a href="{{ path('app_admin_paymentType_update', {'id': result.id}) }}" class="btn bg-primary "> Modifier </a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(results) }}
        </div>

    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
