{% extends '/baseDatatable.html.twig' %}

{% block body %}
    <div class="container jumbotron ">

        <h2>Interventions</h2>
        {{ sg_datatables_render(datatable) }}
    </div>


{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
/*
            $('#sg-datatables-command_datatable').addClass('table-responsive');
*/
/*
            $('#sg-datatables-command_datatable').DataTable( {
                responsive: true
            } );
*/
        });
    </script>

{% endblock %}