/*--------------------------------------------------*/
/*************************      font                */
/*--------------------------------------------------*/
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
    src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
}

@font-face {
    font-family: 'Fredericka the Great';
    src: url("../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf");
}

/*--------------------------------------------------*/
/*************************      colors              */
/*--------------------------------------------------*/

/*As Hex codes*/

.color-primary-0 {
    color: #FDFDFD
}

/* Main Primary color */
.color-primary-1 {
    color: #B3B3B3
}

.color-primary-2 {
    color: #747474
}

.color-primary-3 {
    color: #4B4B4B
}

.color-primary-4 {
    color: #383838
}

.color-primary-5 {
    color: #262626
}

.color-complement-0 {
    color: #FFFFFF
}

/* Main Complement color */
.color-complement-1 {
    color: #FF6008
}

.color-complement-2 {
    color: #E65000
}

.color-complement-3 {
    color: #6C3C22
}

/* As RGBa codes */

.color-primary-0 {
    color: rgb(252, 252, 252)
}

/* Main Primary color */
.color-primary-1 {
    color: rgb(179, 179, 179)
}

.color-primary-2 {
    color: rgb(116, 116, 116)
}

.color-primary-3 {
    color: rgb(75, 75, 75)
}

.color-primary-4 {
    color: rgb(56, 56, 56)
}

.color-primary-5 {
    color: rgb(38, 38, 38)
}

.color-complement-0 {
    color: rgb(255, 255, 255)
}

/* Main Complement color */
.color-complement-1 {
    color: rgb(255, 96, 8)
}

.color-complement-2 {
    color: rgb(230, 80, 0)
}

.color-complement-3 {
    color: rgb(108, 60, 34)
}

/*--------------------------------------------------*/
/*************************      general             */
/*--------------------------------------------------*/

* {
    box-sizing: border-box;
    /*outline: none;*/
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FDFDFD;
    font-size: 1.2rem;
    background: url("../img/backgrounds/car-repair-362150_1920.jpg") no-repeat top center fixed;
    background-size: cover;
    background-color: #262626;

}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin: 0.5rem;

}

.container {
    background-color: rgba(38, 38, 38, 0.9);
}

a {
    text-decoration: none;
    /*color: rgb(252, 252, 252);*/
}

section {
    margin-bottom: 2rem;
}

.jumbotron p {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table li {
    margin: 1rem auto;

}

#searchByNameInput {
    width: 15rem;
}

.entete {
    margin: 1rem auto;
}

/*--------------------------------------------------*/
/*************************      date picker         */
/*--------------------------------------------------*/

.datepicker {
    background-color: #383838;
    color: #FF6008;
}

/*--------------------------------------------------*/
/*************************      button             */
/*--------------------------------------------------*/

/*.btn-primary,*/
/*.btn-primary:hover,*/
/*.btn-primary:active,*/
/*.btn-primary:visited,*/
/*.btn-primary:focus,*/
/*a.btn-primary,*/
/*a.btn-primary:hover,*/
/*a.btn-primary:active,*/
/*a.btn-primary:visited,*/
/*a.btn-primary:focus {*/
/*background-color: rgb(255, 96, 8) !important;*/
/*border-color: rgb(255, 96, 8) !important;*/
/*}*/

/*--------------------------------------------------*/
/*************************      form             */
/*--------------------------------------------------*/
/*placeholder*/

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #383838;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #383838;
    opacity: 1;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #383838;
    opacity: 1;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #383838;
}

.form-control:-ms-input-placeholder { /* Microsoft Edge */
    color: #383838;
}

.form-control::placeholder { /* Most modern browsers support this now. */
    color: #383838;
}

legend {
    color: whitesmoke;
}

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.fieldsetcustom {
    border: 1px solid gray ;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 3px;
}

/*--------------------------------------------------*/
/*************************      panel             */
/*--------------------------------------------------*/

.panel-body {
    background-color: whitesmoke;
    color: #0a0a0a;
}

div.panel-body>div.row {
    margin: 5px 0px;
}


/*--------------------------------------------------*/
/*************************      table             */
/*--------------------------------------------------*/

tbody#panier {
    margin: 5px 0px;
}


/*--------------------------------------------------*/
/*************************      datatable             */
/*--------------------------------------------------*/

#sg-datatables-command_datatable {
    width:100%;
}
input.sg-datatables-individual-filtering {
    color: #0a0a0a;
}


/*--------------------------------------------------*/
/*************************      icon             */
/*--------------------------------------------------*/



/*--------------------------------------------------*/
/*************************      version mobile      */
/*--------------------------------------------------*/
@media screen and (max-width: 1024px) {
    .espaceBoutton {
        margin-bottom: 1rem !important;
    }
}