{% extends 'base.html.twig' %}

{% block body %}
    <h1>connexion</h1>


    {% if error %}
        <div class="alert alert-danger">erreur</div>
    {% endif %}

    <form action="{{ url('app_security_login') }}" method="post">
        <p class="form-group">
            <label for="username">email</label>
            <input type="text" id="username" name="_username" value="" class="form-control" />
        </p>

        <p class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" class="form-control" />
        </p>

        <p class="form-group">
            <input type="submit" name="submit" class="btn btn-primary" value="valider" />
        </p>
    </form>

    <p><a href="{{ url('app_account_password_forgotten') }}">Mot de passe oublié</a></p>

{% endblock %}