{% extends 'base.html.twig' %}

{% block body %}
<main>
    <article class="container">
   <h1>inscription</h1>
{% include 'include/user.form.html.twig' %}
    </article>


</main>

    </div>
{% endblock %}


