{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'headers.signin' | trans | capitalize }}</h1>

    {% include 'include/flashBag.html.twig' %}

    {% include 'include/user.form.html.twig' %}

{% endblock %}