{% extends 'base.html.twig' %}

{% block body %}

    <div class="row entete">


        <div class="btn bg-primary espaceBoutton"><a href="{{ url('app_admin_customer_list') }}" class="btn bg-primary ">
                retour </a></div>

    </div>

    <h1>Mise à jour du compte</h1>
    <div class="container">
        {% include 'include/user.form.html.twig' %}

    </div>


{% endblock %}


